[Unit]
Description=Gigabyte AORUS hardware control daemon
After=dbus.service systemd-modules-load.service
Before=coolercontrold.service
StartLimitIntervalSec=0

[Service]
Type=dbus
BusName=com.gigabyte.daemon
Environment=IS_SERVICE=1
ExecStart=/usr/bin/gigabyted
ExecStopPost=/usr/bin/gigabyted --restore-fan-auto
Restart=on-failure
RestartSec=5
TimeoutStopSec=5
NoNewPrivileges=yes
ProtectHome=yes

[Install]
WantedBy=multi-user.target
